<!doctype html>
<html data-bs-theme="dark" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Cyan Zone" %></title>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css",
          integrity: "sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr",
          crossorigin: "anonymous" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" %>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <div class="container-md">
      <%= partial "layouts/header" %>
      <%= yield %>
    </div>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js",
          integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q",
          crossorigin="anonymous" %>
    <%= javascript_include_tag "https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
