---
title: Cyan Zone - Personal Website
---
<div class="row my-2">
  <div class="col-md-4">
    <%# Profile Sidebar %>
    <%= partial "profile" %>
  </div>

  <div class="col-md-8">
    <%# Sections %>
    <% data.locales.en.each_with_index do |section, index| %>
      <% key = section.keys.first %>
      <div class="fs-1 border-bottom mb-3" id="<%= key %>">
        <i class="bi bi-<%= section.icon %>"></i> <%= section.title %>
      </div>
      <%= partial "#{key}" , locals: { index: index } %>
      <br><br>
    <% end %>
  </div>
</div>
